################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/packages/NUnit.3.6.1
/uTest/bin/Debug
/uTest/obj/Debug
/uTestTests/bin/Debug
/uTestTests/obj/Debug
/packages
/WebApplication1/bin
/WebApplication1/obj/Debug
/WebApplication1Tests1/obj/Debug
/WebApplication1Tests1/bin/Debug
/WebApplication1Tests/bin/Debug
/WebApplication1Tests/obj/Debug
